body {
    background: #f2f7ff;
}

form {
    background: white;
    width: 600px;
    margin: 40px auto;
    padding: 25px 40px;
    border-radius: 15px;
    box-shadow: 20px 20px 40px rgba(0,0,0,1);
}

label {
    font-size: 18px;
    font-weight: 600;
    color: #0f365a;
}

input[type="text"] {
    border: 2px solid #1be7a3;
    border-radius: 6px;
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 16px;
    width: 25px;
    text-align: center;
    outline: none;
    transition: 0.5s;
}

input[type="text"]:focus {
    border-color: #752de9;
    box-shadow: 0 0 25px rgba(4, 30, 82, 0.5);
}

button {
    background: #07975b;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background: #a5ca00;
    transform: translateY(-2px);
}

#vec1add, #vec2add {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 13px;
    background: #34aadc;
}

#vec1add:hover, #vec2add:hover {
    background: #272e31;
}

h2 {
    text-align: center;
    color: #444;
}

h1 {
    text-align: center;
    color: #444;
}

hr {
    margin: 20px 0;
    border: 0;
    height: 2px;
    background: #dedede;
}

p {
    background: #eef4ff;
    padding: 10px;
    border-left: 4px solid #007bff;
    border-radius: 6px;
    font-size: 16px;
}